##Measures of Central Tendency Part 2

In [1]:
#mean()(average)
age=[12,21,23,45,65,43,56,45,32,67,54,34]

In [2]:
import numpy as np
np.mean(age)

41.416666666666664

In [3]:
weights=[54,45,34,54,34,67,54,56,75]

In [4]:
np.mean(weights)

52.55555555555556

In [5]:
import seaborn as sns
df=sns.load_dataset('tips')

In [6]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
np.mean(df['total_bill'])

19.78594262295082

In [8]:
#median
np.median(age)

44.0

In [9]:
age=[12,21,23,45,65,43,56,45,32,67,54,34,200]#200 is outlierS

In [10]:
np.mean(age)

53.61538461538461

In [11]:
np.median(age)#median is very useful when there is outlier

45.0

In [12]:
#mode
from scipy import stats

In [13]:
stats.mode(age)

/tmp/ipykernel_85/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([45]), count=array([2]))